@charset "UTF-8";
.inputArea { margin:10px 0; }
select { width:150; }
label { display:inline-block; width:150px; padding:5px; font-weight:bolder; }
label[for='productContent'] { display:block; }
input { width:150px; }
textarea#productContent { width:400px; height:180px; }