<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.greener.codegreen.adminMapper">

<!-- 카테고리 호출 -->
<select id = "category" resultType="com.greener.codegreen.dto.CategoryDTO">
	<![CDATA[
		SELECT c_name, c_code, c_code_ref, c_level 
		from Category;
	]]>
</select>

<!-- 상품 등록 -->
<insert id="register">
	<![CDATA[
 		insert into Product (p_name, p_price, p_content, p_stock, p_view, p_made, p_usedate, product_c_code,p_img,p_thumbImg)
     	values (#{p_name}, #{p_price}, #{p_content}, #{p_stock}, '0', #{p_made}, #{p_usedate}, #{product_c_code},#{p_img},#{p_thumbImg});
     ]]>
</insert>

</mapper>