<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.greener.codegreen.buyer">

	<!-- <resultMap id="buyerResult" type="com.greener.codegreen.dto.BuyerDTO">
		<result property="b_id"		column="b_id"/>
		<result property="b_pwd"		column="b_pwd"/>
		<result property="b_name"		column="b_name"/>
		<result property="b_birth"		column="b_birth"/>
		<result property="b_email"	column="b_email"/>
		<result property="b_add"	column="b_address"/>
		<result property="b_grade"	column="b_grade"/>
		<result property="b_joindate"	column="b_joindate"/>
		<result property="b_phone"	column="b_phone"/>
		<result property="b_amount"	column="b_amount"/>
	</resultMap> -->
	
	<!-- 로그인 처리 -->
	<select id="loginByIdPwd" parameterType="com.greener.codegreen.dto.BuyerDTO" resultType="com.greener.codegreen.dto.BuyerDTO">
		<![CDATA[
			SELECT * 
			FROM Buyer 
			WHERE b_id = #{b_id} AND b_pwd = #{b_pwd} 
		]]>
	</select>
	
	<!-- 회원가입 -->
	<insert id="addBuyer" parameterType="com.greener.codegreen.dto.BuyerDTO">
		<![CDATA[
			INSERT INTO Buyer 
					(b_id, b_pwd, b_name,b_birth,b_email,b_address1,b_address2,b_address3,b_phone, b_grade,b_joindate,b_amount)
			VALUES	(#{b_id},	  #{b_pwd}, #{b_name}, #{b_birth}, #{b_email}, #{b_address1},#{b_address2},#{b_address3}, #{b_phone}, '브론즈', sysdate(),0)
		]]>
	</insert> 
	
	<!-- 아이디 중복검사 -->
	<select id ="idCheck" parameterType="com.greener.codegreen.dto.BuyerDTO" resultType="INT">
		<![CDATA[
			select count(*)
			from Buyer
			where b_id = #{b_id}
		]]>
	</select>
	
	<!-- 소비자 전체 회원의 수 -->
	<select id = "totalCount" parameterType="com.greener.codegreen.dto.BuyerDTO" resultType="INT">
		<![CDATA[
			select count(*)
			from Buyer
			where 1=1
		]]>
				<include refid="searchMySQL"/>
	</select> 
	
	<!-- 검색 조건 -->
	<!-- MySQL -->
	<sql id="searchMySQL">
		<if test="searchType != null">
			<if test="searchType == 'b_id'.toString()">AND b_id LIKE CONCAT('%', #{keyword}, '%')</if>
			<if test="searchType == 'b_name'.toString()">AND b_name LIKE CONCAT('%', #{keyword}, '%')</if>
		</if>
	</sql>
	<!-- 소비자 전체 리스트 -->
	<select id = "buyerList" parameterType="hashmap" resultType="com.greener.codegreen.dto.BuyerDTO">
	 <![CDATA[
	 	SELECT	b_id, b_name,b_birth,b_email,b_address2,b_address3,b_grade,b_joindate,b_phone,b_amount,b_num
			FROM (
					SELECT	b_id, b_name,b_birth,b_email,b_address2,b_address3,b_grade,b_joindate,b_phone,b_amount,b_num,
							ROW_NUMBER() OVER(ORDER BY b_num DESC) AS rNum
					FROM	Buyer
					WHERE	1=1
	 ]]>
	<include refid="searchMySQL"/>
		<![CDATA[
			) brd
			WHERE	rNum 	BETWEEN 1 + (#{perPageNum} * (#{page}-1) )
							AND		#{perPageNum}*#{page}
			ORDER BY b_num DESC
		]]>
	</select>
</mapper>   





