<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.greener.codegreen.manager">

	<resultMap id="buyerResult" type="com.greener.codegreen.dto.ManagerDTO">
		<result property="m_id"		column="m_id"/>
		<result property="m_pwd"		column="m_pwd"/>
		<result property="b_name"		column="m_name"/>
		<result property="m_RRC"		column="m_RRC"/>
		<result property="m_email"	column="m_email"/>
		<result property="m_phone"	column="m_phone"/>
	</resultMap>
	
	<!-- 로그인 처리 -->
	<select id="ManagerLogin" parameterType="com.greener.codegreen.dto.ManagerDTO" resultType="com.greener.codegreen.dto.ManagerDTO">
		<![CDATA[
			SELECT	*
			FROM Manager
			WHERE	m_id = #{m_id}
		]]>
	</select>
	
</mapper>   





