<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.greener.codegreen.order">

	<!-- ****************************************************************************************** -->
	<!-- 조건에 맞는 주문내역 목록 가져오기 -->
	<!-- ****************************************************************************************** -->
 	<select id="orderListCheck" resultType="HashMap" parameterType="java.util.HashMap">
		<![CDATA[
			SELECT o.o_date, o.o_number, b.b_num, b.b_id, b.b_name, o.o_price, p.p_name
			FROM ProductOrder o 
			JOIN Buyer b ON o.order_b_id = b.b_id
			JOIN Product p ON o.order_p_number = p.p_number
			WHERE o.o_number = #{orderNum1} 
			   OR b.b_name = #{buyerName1} 
			   OR o.order_p_number = #{productNum1}
			   OR o.o_number = #{orderNum2} AND b.b_name = #{buyerName2} AND o.order_p_number = #{productNum2}
			   OR b.b_name = #{buyerName3} AND o.order_p_number = #{productNum3}
			   OR o.o_number = #{orderNum4} AND o.order_p_number = #{productNum4}
			   OR o.o_number = #{orderNum5} AND b.b_name = #{buyerName5}
			ORDER BY o.o_date DESC
		]]>
	</select>
	
	<!-- ****************************************************************************************** -->
	<!-- 주문내역 전체 목록 가져오기 -->
	<!-- ****************************************************************************************** -->
 	<select id="orderListAll" resultType="HashMap" parameterType="java.util.HashMap">
		<![CDATA[
			SELECT 	o.o_date, o.o_number, b.b_num, b.b_id, b.b_name, o.o_price
			FROM	ProductOrder o JOIN Buyer b ON o.order_b_id = b.b_id
			ORDER BY o.o_date DESC
		]]>
	</select>
	
	<!-- ****************************************************************************************** -->
	<!-- 주문번호 누르면 상세 주문내역 보여주기 -->
	<!-- ****************************************************************************************** -->
  	<select id="orderDetailCheck" resultType="com.greener.codegreen.dto.ProductOrderBuyerDTO" parameterType="integer">
		<![CDATA[
	        SELECT 	o.o_number, b.b_id, o.o_price, o.o_date, o.o_receiver_phone, o.o_receiver_name, b.b_email
	        	   ,o.o_address1, o.o_address2, o.o_address3, b.b_name, b.b_grade
	        FROM	ProductOrder o JOIN Buyer b ON o.order_b_id = b.b_id
	        WHERE   o.o_number = #{orderNum}
		]]>
	</select>
	
	<!-- ****************************************************************************************** -->
	<!-- 주문 내역 취소하기 -->
	<!-- ****************************************************************************************** -->
	  <delete id="orderListCancle" parameterType="int">
		<![CDATA[
	        DELETE 	FROM ProductOrder
	        WHERE o_number = #{oNum}
		]]>
	</delete>
 	
</mapper>   





