<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.greener.codegreen.order">

	<!-- ****************************************************************************************** -->
	<!-- 주문내역 목록 불러오기 (전체 주문) -->
	<!-- ****************************************************************************************** -->
		<select id="orderListAll" resultType="HashMap" parameterType="java.util.HashMap">
			<![CDATA[
			SELECT brd.o_date, brd.o_number, brd.b_num, brd.b_id, brd.b_name, brd.o_price, brd.o_state
			FROM (
				SELECT o.o_date, o.o_number, b.b_num, b.b_id, b.b_name, o.o_price, o.o_state, ROW_NUMBER() OVER(ORDER BY o.o_date DESC) AS rNum
				FROM ProductOrder o JOIN Buyer b ON o.order_b_id = b.b_id
			) brd
			WHERE rNum BETWEEN (${pageNum}-1)*10+1
					AND ${pageNum}*10
			ORDER BY brd.o_date DESC
			]]>
		</select>

	<!-- ****************************************************************************************** -->
	<!-- 조건에 맞는 주문내역 목록 가져오기 -->
	<!-- ****************************************************************************************** -->
 	<select id="orderListCheck" resultType="HashMap" parameterType="java.util.HashMap">
		<![CDATA[
		SELECT brd.o_date, brd.o_number, brd.b_num, brd.b_id, brd.b_name, brd.o_price, brd.o_state
		FROM (
			SELECT o.o_date, o.o_number, b.b_num, b.b_id, b.b_name, o.o_price, o.o_state, ROW_NUMBER() OVER(ORDER BY o.o_date DESC) AS rNum
			FROM ProductOrder o 
				JOIN Buyer b ON o.order_b_id = b.b_id
				JOIN Product p ON o.order_p_number = p.p_number
			WHERE o.o_number = #{orderNum}
				OR b.b_name = #{buyerName}
				OR p.p_number = #{productNum}
			ORDER BY o.o_date DESC
		) brd
			WHERE rNum BETWEEN (${pageNum}-1)*10+1
					AND ${pageNum}*10
			ORDER BY brd.o_date DESC
		]]>
	</select>
	
	<!-- ****************************************************************************************** -->
	<!-- 조건에 맞는 주문내역 목록 가져오기 /OnlyDay -->
	<!-- ****************************************************************************************** -->
 	<select id="orderListOnlyDay" resultType="HashMap" parameterType="java.util.HashMap">
		<![CDATA[
		SELECT brd.o_date, brd.o_number, brd.b_num, brd.b_id, brd.b_name, brd.o_price, brd.o_state
		FROM (	
			SELECT o.o_date, o.o_number, b.b_num, b.b_id, b.b_name, o.o_price, o.o_state, ROW_NUMBER() OVER(ORDER BY o.o_date DESC) AS rNum
			FROM ProductOrder o 
				JOIN Buyer b ON o.order_b_id = b.b_id
				JOIN Product p ON o.order_p_number = p.p_number
			WHERE o.o_date > curdate()
			ORDER BY o.o_date DESC
			) brd
			WHERE rNum BETWEEN (${pageNum}-1)*10+1
					AND ${pageNum}*10
			ORDER BY brd.o_date DESC
		]]>
	</select>
	
	<!-- ****************************************************************************************** -->
	<!-- 조건에 맞는 주문내역 목록 가져오기 /OnlyWeek -->
	<!-- ****************************************************************************************** -->
 	<select id="orderListOnlyWeek" resultType="HashMap" parameterType="java.util.HashMap">
		<![CDATA[
		SELECT brd.o_date, brd.o_number, brd.b_num, brd.b_id, brd.b_name, brd.o_price, brd.o_state
		FROM (	
			SELECT o.o_date, o.o_number, b.b_num, b.b_id, b.b_name, o.o_price, o.o_state, ROW_NUMBER() OVER(ORDER BY o.o_date DESC) AS rNum
			FROM ProductOrder o 
				JOIN Buyer b ON o.order_b_id = b.b_id
				JOIN Product p ON o.order_p_number = p.p_number
			WHERE o.o_date BETWEEN DATE_ADD(NOW(), INTERVAL -1 WEEK ) AND NOW()
			ORDER BY o.o_date DESC
			) brd
			WHERE rNum BETWEEN (${pageNum}-1)*10+1
					AND ${pageNum}*10
			ORDER BY brd.o_date DESC
		]]>
	</select>
	
	<!-- ****************************************************************************************** -->
	<!-- 조건에 맞는 주문내역 목록 가져오기 /OnlyMonth -->
	<!-- ****************************************************************************************** -->
 	<select id="orderListOnlyMonth" resultType="HashMap" parameterType="java.util.HashMap">
		<![CDATA[
		SELECT brd.o_date, brd.o_number, brd.b_num, brd.b_id, brd.b_name, brd.o_price, brd.o_state
		FROM (	
			SELECT o.o_date, o.o_number, b.b_num, b.b_id, b.b_name, o.o_price, o.o_state, ROW_NUMBER() OVER(ORDER BY o.o_date DESC) AS rNum
			FROM ProductOrder o 
				JOIN Buyer b ON o.order_b_id = b.b_id
				JOIN Product p ON o.order_p_number = p.p_number
			WHERE o.o_date BETWEEN DATE_ADD(NOW(), INTERVAL -1 MONTH ) AND NOW()
			ORDER BY o.o_date DESC
			) brd
			WHERE rNum BETWEEN (${pageNum}-1)*10+1
					AND ${pageNum}*10
			ORDER BY brd.o_date DESC
		]]>
	</select>
	
	<!-- ****************************************************************************************** -->
	<!-- 주문내역 총 개수 구하기 -->
	<!-- ****************************************************************************************** -->
  	<select id="orderListCount" resultType="int" parameterType="com.greener.codegreen.common.SearchCriteria">
		<![CDATA[
	        SELECT 	Count(o_number)
	        FROM	ProductOrder
		]]>
	</select>
	
	<!-- ****************************************************************************************** -->
	<!-- 주문내역 총 개수 구하기 -->
	<!-- ****************************************************************************************** -->
  	<select id="orderListCountTwo" resultType="int" parameterType="com.greener.codegreen.common.SearchCriteria">
		<![CDATA[
	        SELECT 	Count(o_number)
	        FROM ProductOrder o 
				JOIN Buyer b ON o.order_b_id = b.b_id
				JOIN Product p ON o.order_p_number = p.p_number
	        WHERE o.o_number = #{orderNum}
				OR b.b_name = #{buyerName}
				OR p.p_number = #{productNum}
		]]>
	</select>
	

	<!-- ****************************************************************************************** -->
	<!-- 주문번호 누르면 상세 주문내역 보여주기 -->
	<!-- ****************************************************************************************** -->
  	<select id="orderDetailCheck" resultType="com.greener.codegreen.dto.ProductOrderBuyerDTO" parameterType="integer">
		<![CDATA[
	        SELECT 	o.o_number, b.b_id, o.o_price, o.o_date, o.o_receiver_phone, o.o_receiver_name, b.b_email
	        	   ,o.o_address1, o.o_address2, o.o_address3, b.b_name, b.b_grade, p.p_name, o.o_count, b.b_grade
			FROM    ProductOrder o
			        JOIN Buyer b ON o.order_b_id = b.b_id
			        JOIN Product p ON o.order_p_number = p.p_number
	        WHERE   o.o_number = #{orderNum}
		]]>
	</select>
	
	<!-- ****************************************************************************************** -->
	<!-- 주문 내역 취소하기 -->
	<!-- ****************************************************************************************** -->
	  <delete id="orderListCancle" parameterType="int">
		<![CDATA[
	        DELETE 	FROM ProductOrder
	        WHERE o_number = #{oNum}
		]]>
	</delete>
 	
</mapper>   





