<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.greener.codegreen.order">

	<!-- ****************************************************************************************** -->
	<!-- 주문내역 목록 불러오기 (전체 주문) -->
	<!-- ****************************************************************************************** -->
 	<select id="orderListAll" resultType="HashMap" parameterType="java.util.HashMap">
		<![CDATA[
			SELECT 	o.o_date, o.o_number, b.b_num, b.b_id, b.b_name, o.o_price
			FROM	ProductOrder o JOIN Buyer b ON o.order_b_id = b.b_id
			ORDER BY o.o_date DESC
		]]>
	</select>

	<!-- ****************************************************************************************** -->
	<!-- 조건에 맞는 주문내역 목록 가져오기 -->
	<!-- ****************************************************************************************** -->
 	<select id="orderListCheck" resultType="HashMap" parameterType="java.util.HashMap">
		<![CDATA[
			SELECT o.o_date, o.o_number, b.b_num, b.b_id, b.b_name, o.o_price
			FROM ProductOrder o 
			JOIN Buyer b ON o.order_b_id = b.b_id
			JOIN Product p ON o.order_p_number = p.p_number
			WHERE o.o_number = #{orderNum1} 
			   OR b.b_name = #{buyerName1} 
			   OR o.order_p_number = #{productNum1}
			   OR o.o_number = #{orderNum2} AND b.b_name = #{buyerName2}
			   OR o.o_number = #{orderNum3} AND o.order_p_number = #{productNum3}
			   OR b.b_name = #{buyerName4} AND o.order_p_number = #{productNum4}
			   OR o.o_number = #{orderNum5} AND b.b_name = #{buyerName5} AND o.order_p_number = #{productNum5}
			   OR (o.o_number = #{orderNum6} AND o.o_date BETWEEN DATE_ADD(NOW(), INTERVAL -1 DAY) AND NOW())
			   OR (b.b_name = #{buyerName7}  AND o.o_date BETWEEN DATE_ADD(NOW(), INTERVAL -1 DAY) AND NOW())
			   OR (o.order_p_number = #{productNum8} AND o.o_date BETWEEN DATE_ADD(NOW(), INTERVAL -1 DAY) AND NOW())
			   OR (o.o_number = #{orderNum9} AND o.o_date BETWEEN DATE_ADD(NOW(), INTERVAL -1 WEEK) AND NOW())
			   OR (b.b_name = #{buyerName10}  AND o.o_date BETWEEN DATE_ADD(NOW(), INTERVAL -1 WEEK) AND NOW())
			   OR (o.order_p_number = #{productNum11} AND o.o_date BETWEEN DATE_ADD(NOW(), INTERVAL -1 WEEK) AND NOW())
			   OR (o.o_number = #{orderNum12} AND o.o_date BETWEEN DATE_ADD(NOW(), INTERVAL -1 MONTH) AND NOW())
			   OR (b.b_name = #{buyerName13}  AND o.o_date BETWEEN DATE_ADD(NOW(), INTERVAL -1 MONTH) AND NOW())
			   OR (o.order_p_number = #{productNum14} AND o.o_date BETWEEN DATE_ADD(NOW(), INTERVAL -1 MONTH) AND NOW())
			   OR (o.o_number = #{orderNum15} AND b.b_name = #{buyerName15} AND o.o_date BETWEEN DATE_ADD(NOW(), INTERVAL -1 DAY) AND NOW())
			   OR (o.o_number = #{orderNum16} AND o.order_p_number = #{productNum16} AND o.o_date BETWEEN DATE_ADD(NOW(), INTERVAL -1 DAY) AND NOW())
			   OR (b.b_name = #{buyerName17} AND o.order_p_number = #{productNum17} AND o.o_date BETWEEN DATE_ADD(NOW(), INTERVAL -1 DAY) AND NOW())
			   OR (o.o_number = #{orderNum18} AND b.b_name = #{buyerName18} AND o.o_date BETWEEN DATE_ADD(NOW(), INTERVAL -1 WEEK) AND NOW())
			   OR (o.o_number = #{orderNum19} AND o.order_p_number = #{productNum19} AND o.o_date BETWEEN DATE_ADD(NOW(), INTERVAL -1 WEEK) AND NOW())
			   OR (b.b_name = #{buyerName20} AND o.order_p_number = #{productNum20} AND o.o_date BETWEEN DATE_ADD(NOW(), INTERVAL -1 WEEK) AND NOW())
			   OR (o.o_number = #{orderNum21} AND b.b_name = #{buyerName21} AND o.o_date BETWEEN DATE_ADD(NOW(), INTERVAL -1 MONTH) AND NOW())
			   OR (o.o_number = #{orderNum22} AND o.order_p_number = #{productNum22} AND o.o_date BETWEEN DATE_ADD(NOW(), INTERVAL -1 MONTH) AND NOW())
			   OR (b.b_name = #{buyerName23} AND o.order_p_number = #{productNum23} AND o.o_date BETWEEN DATE_ADD(NOW(), INTERVAL -1 MONTH) AND NOW())
			   OR (o.o_number = #{orderNum24} AND b.b_name = #{buyerName24} AND o.order_p_number = #{productNum24} AND o.o_date BETWEEN DATE_ADD(NOW(), INTERVAL -1 DAY) AND NOW())
			   OR (o.o_number = #{orderNum25} AND b.b_name = #{buyerName25} AND o.order_p_number = #{productNum25} AND o.o_date BETWEEN DATE_ADD(NOW(), INTERVAL -1 WEEK) AND NOW())
			   OR (o.o_number = #{orderNum26} AND b.b_name = #{buyerName26} AND o.order_p_number = #{productNum26} AND o.o_date BETWEEN DATE_ADD(NOW(), INTERVAL -1 MONTH) AND NOW())
			ORDER BY o.o_date DESC
		]]>
	</select>
	
	<!-- ****************************************************************************************** -->
	<!-- 조건에 맞는 주문내역 목록 가져오기 /OnlyDay -->
	<!-- ****************************************************************************************** -->
 	<select id="orderListOnlyDay" resultType="HashMap" parameterType="java.util.HashMap">
		<![CDATA[
			SELECT o.o_date, o.o_number, b.b_num, b.b_id, b.b_name, o.o_price
			FROM ProductOrder o 
			JOIN Buyer b ON o.order_b_id = b.b_id
			JOIN Product p ON o.order_p_number = p.p_number
			WHERE o.o_date > curdate()
			ORDER BY o.o_date DESC
		]]>
	</select>
	
	<!-- ****************************************************************************************** -->
	<!-- 조건에 맞는 주문내역 목록 가져오기 /OnlyWeek -->
	<!-- ****************************************************************************************** -->
 	<select id="orderListOnlyWeek" resultType="HashMap" parameterType="java.util.HashMap">
		<![CDATA[
			SELECT o.o_date, o.o_number, b.b_num, b.b_id, b.b_name, o.o_price
			FROM ProductOrder o 
			JOIN Buyer b ON o.order_b_id = b.b_id
			JOIN Product p ON o.order_p_number = p.p_number
			WHERE o.o_date BETWEEN DATE_ADD(NOW(), INTERVAL -1 WEEK ) AND NOW()
            ORDER BY o.o_date DESC
		]]>
	</select>
	
	<!-- ****************************************************************************************** -->
	<!-- 조건에 맞는 주문내역 목록 가져오기 /OnlyMonth -->
	<!-- ****************************************************************************************** -->
 	<select id="orderListOnlyMonth" resultType="HashMap" parameterType="java.util.HashMap">
		<![CDATA[
			SELECT o.o_date, o.o_number, b.b_num, b.b_id, b.b_name, o.o_price
			FROM ProductOrder o 
			JOIN Buyer b ON o.order_b_id = b.b_id
			JOIN Product p ON o.order_p_number = p.p_number
			WHERE o.o_date BETWEEN DATE_ADD(NOW(), INTERVAL -1 MONTH ) AND NOW()
            ORDER BY o.o_date DESC
		]]>
	</select>
	
	<!-- ****************************************************************************************** -->
	<!-- 주문번호 누르면 상세 주문내역 보여주기 -->
	<!-- ****************************************************************************************** -->
  	<select id="orderDetailCheck" resultType="com.greener.codegreen.dto.ProductOrderBuyerDTO" parameterType="integer">
		<![CDATA[
	        SELECT 	o.o_number, b.b_id, o.o_price, o.o_date, o.o_receiver_phone, o.o_receiver_name, b.b_email
	        	   ,o.o_address1, o.o_address2, o.o_address3, b.b_name, b.b_grade
	        FROM	ProductOrder o JOIN Buyer b ON o.order_b_id = b.b_id
	        WHERE   o.o_number = #{orderNum}
		]]>
	</select>
	
	<!-- ****************************************************************************************** -->
	<!-- 주문 내역 취소하기 -->
	<!-- ****************************************************************************************** -->
	  <delete id="orderListCancle" parameterType="int">
		<![CDATA[
	        DELETE 	FROM ProductOrder
	        WHERE o_number = #{oNum}
		]]>
	</delete>
 	
</mapper>   





