<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.greener.codegreen.visitMapper">
	<insert id="insertVisitor" parameterType="com.greener.codegreen.dto.VisitCountDTO">
		<![CDATA[
			INSERT
			INTO visitor (v_time)
			VALUES (now())
		]]>
	</insert>
       
	<select id="visitList" resultType="hashmap">
		<![CDATA[
			select v_time from visitor 
			where v_time=#{v_time};
  		]]>
	</select>
</mapper>